<div class="brands">
    <img src="img/blum.jpg" alt="blum">
    <img src="img/gtv.jpg" alt="gtv">
    <img src="img/muller.jpg" alt="muller">
    <img src="img/starax.jpg" alt="starax">
    <img src="img/rejs.jpg" alt="rejs">
    <!--img src="img/pelilam.jpg" alt="pelilam"-->
    <!--img src="img/swisspan.png" alt="swisspan"-->
    <img src="img/luxeform.png" alt="luxeform">
    <img src="img/rehau.jpg" alt="rehau">
    <img src="img/krono.jpg" alt="krono">
    <img src="img/egger.jpg" alt="egger">
   

    
    
</div>