section#mebel_sellect
    .container
        .block_title
            h2 Изготовление мебели 
                small по индивидуальным размерам
        
        .tab_block
            .tab_content
                .tab_item.tab_active
                    img(src="img/p_kitchen.jpg", alt="Кухни на заказ")
                .tab_item
                    img(src="img/p_kitchen.jpg", alt="Шкаф купе и прихожие")
                .tab_item
                    img(src="img/p_kitchen.jpg", alt="Офисная мебель")
                .tab_item
                    img(src="img/p_kitchen.jpg", alt="Детские")
            
            .tab_nav
                h3 Поможем выбрать
                ul
                    li.tab_title.tab_active
                        a(href="#") 
                            <i> 1 </i> Кухни на заказ
                    li.tab_title 
                        a(href="#") 
                            <i> 2 </i> Шкаф купе и прихожие
                    li.tab_title 
                        a(href="#") 
                            <i> 3 </i> Офисная мебель
                    li.tab_title 
                        a(href="#") 
                            <i> 4 </i> Детские
                    
               

