section#top
    .container
        .top_item
            .top_title
                span Гарантия качества и лучшей цены
                h1 Производство мебели под заказ в Одессе  
                    small по ценам, которые оправдывают функциональность и надежность
            ul
                li <svg class="icons"><use xlink:href="img/icons.svg#top_icon__1"></use></svg>Собственный цех и сеть магазинов
                li <svg class="icons"><use xlink:href="img/icons.svg#top_icon__2"></use></svg>Работаем с 2004 года
                li <svg class="icons"><use xlink:href="img/icons.svg#top_icon__3"></use></svg>Срок выполнения до 10 дней
            span.btn.btn_stand.green
                <svg class="icons"><use xlink:href="img/icons.svg#arrow"></use></svg> Быстрый просчет</span>            