<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Колор мебель
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet")


  body
    header
      div.container
        a.logo(href="/")
          img(src="img/logo.png", alt="logo") 
        nav
          ul.nav
            li
              a(href="/kuhni.html") Кухни
            li
              a(href="/shkafy-kupe.html") Шкафы
            li
              a(href="/furnitura.html") Фурнитура
            li
              a(href="/guaranty.html") Гарантии
            li
              a(href="/about.html") О компании
            li
              a(href="/contacts.html") Контакты

        ul.address
          li.shops <svg class="icons"><use xlink:href="img/icons.svg#pin"></use></svg>Магазины в Одессе <svg class="icons_down"><use xlink:href="img/icons.svg#arrow_down"></use></svg>
            ul
              li Малиновский рынок маг. Ш-74
              li Малиновский рынок маг. Г-34
              li Малиновский рынок пав. К-11
              li Малиновский рынок пав. К-32
          li Производство мебели
            address г. Одесса ул. Парковая 5
        
        ul.phone
          li
            a(href="tel://+380671007755") 
             <svg class="icons"><use xlink:href="img/icons.svg#phoneico"></use></svg>+38 067 100-77-55
          li
            a(href="tel://+380671007755") +38 048 775-75-57
          li
            a.btn.btn_accent(href="#") задать вопрос
        

        .nav_btn Меню


      
